---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
import EvenColumns from "../components/EvenColumns.astro";
import AboutCard from "../components/AboutCard.astro";
import StatsCounter from "../components/StatsCounter.astro";
import ServicesCard from "../components/ServicesCard.astro";

import { Image } from "astro:assets";
import logoOutline from "../assets/logo/logo-outline.svg";
import logoGradient from "../assets/logo/logo-gradient-min.svg";
import orderImage from "../assets/order.jpg";

import { getCollection } from "astro:content";
const projectEntries = (await getCollection("project")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout title="SK Creates">
  <div id="preloader" class="absolute inset-0 z-50 w-100 h-dvh bg-dark-blue">
  </div>
  <section
    id="hero"
    class="grid items-center my-24 font-serif group place-items-center"
  >
    <div
      id="logo"
      class="relative w-full h-auto max-w-4xl col-start-1 row-start-1"
    >
      <Image
        src={logoOutline}
        alt=""
        class="absolute"
        data-logo-outline
        format="webp"
        quality="mid"
        loading="eager"
        decoding="async"
      />
      <Image
        src={logoGradient}
        alt="Логотип с обводкой текста и градиентом"
        data-logo-full
        format="webp"
        quality="mid"
        loading="eager"
        decoding="async"
      />
    </div>
    <h1
      class="z-10 col-start-1 row-start-1 mb-2 tracking-wide lowercase splt text-4xl-res"
      data-hero-title
    >
      Дизайнер и программист
    </h1>
  </section>
  <section id="projects" class="mb-32">
    <!-- <ul class="grid gap-4 grid-cols-autofit">
			{
				projectEntries.map(projectEntry => (
					<ProjectCard {projectEntry} />
				))
			}
		</ul> -->
    <div class="swiper">
      <ul class="swiper-wrapper">
        {projectEntries.map((projectEntry) => <ProjectCard {projectEntry} />)}
      </ul>
    </div>
    <div class="static pt-4 swiper-pagination"></div>
  </section>
  <EvenColumns id="about">
    <AboutCard
      slot="left-col"
      heading="Как Фрилансер"
      paragraph="Помогаю малому и среднему бизнесу донести свои идеи до клиентов и улучшить показатели ведения бизнеса путем оптимизации проектов под UX."
    />
    <ul slot="left-col" class="flex flex-row gap-10">
      <StatsCounter />
    </ul>
    <AboutCard
      slot="right-col"
      heading="Как Дизайнер"
      paragraph="Создаю выдержанное, минималистичное и креативное оформление сайтов и интерфейсов. Учитываю не только внешний вид (UI), но и практичность реализации макета в верстке, удобство использования сайта (UX)."
    />
    <AboutCard
      slot="right-col"
      heading="Как Разработчик"
      paragraph="Уделяю внимание валидности кода и адаптивности верстки. Пишу семантический HTML-код с использованием методологии BEM."
    />
  </EvenColumns>
  <EvenColumns id="order">
    <h2
      slot="left-col"
      class="mb-4 font-serif text-4xl leading-none tracking-wide"
    >
      Хотите создать сайт?
    </h2>
    <p slot="left-col" class="flex mb-6 grow">
      Узнайте тарифы, просмотрите реальные работы и отзывы. Напишите о том, что
      хотите видеть в Вашем новом проекте.
    </p>
    <ul slot="left-col" class="mb-2 divide-y divide-dark-pink">
      <ServicesCard
        title="Дизайн"
        services={["Адаптивный дизайн", "Протитип", "Анимации"]}
      />
      <ServicesCard
        title="Разработка"
        services={[
          "Верстка страницы",
          "Исправление верстки",
          "Кастомизация WooCommerce",
          "Верстка WordPress",
        ]}
      />
    </ul>
    <!-- Order Button -->
    <a
      slot="left-col"
      href="https://kwork.ru/user/sstudios"
      target="_blank"
      rel="noopener noreferrer"
      class="group relative overflow-clip rounded-3xl w-fit self-center lg:self-start px-6 py-2 text-large uppercase font-semibold
		before:content-[''] before:absolute before:inset-0 before:bg-dark-blue before:[clip-path:circle(0%_at_50%_50%)] before:-z-10 before:transition-[clip-path] before:duration-300 before:ease-custom before:mix-blend-hue
		hover:before:[clip-path:circle(70%_at_50%_50%)]
		after:content-[''] after:absolute after:inset-0 after:bg-pink after:-z-20"
    >
      <span class="text-dark-blue">Заказать сайт</span>
    </a>
    <!-- Order Image -->
    <Image
      slot="right-col"
      src={orderImage}
      alt=""
      format="webp"
      quality="mid"
      loading="lazy"
      decoding="async"
      class="md:aspect-[3/4] h-full object-cover object-left rounded-md"
      data-img
    />
  </EvenColumns>
</BaseLayout>

<style>
  .swiper-pagination {
    --swiper-pagination-color: #f97b7f;
    --swiper-pagination-bullet-inactive-color: var(--swiper-pagination-color);
    --swiper-pagination-bullet-inactive-opacity: 0.3;
    --swiper-pagination-bullet-width: 20px;
    --swiper-pagination-bullet-height: 2px;
    @apply static pt-6;
  }
</style>

<script src="../scripts/revealAnimations.js"></script>
<script src="../scripts/highlightNavLink.js"></script>
<script src="../scripts/projectSlider.js"></script>
