---
import BaseLayout from "../layouts/BaseLayout.astro";
import Tag from "../components/Tag.astro";

import { formatDate } from "../scripts/utils";

const { frontmatter } = Astro.props;
const { title, tags, stack, amountOfWork, duration, publishDate } = frontmatter;
---

<BaseLayout title=`${title} - SRK Creates`>
  <div id="preloader" class="absolute inset-0 z-50 w-100 h-dvh bg-dark-blue">
  </div>
  <div
    class="fixed inset-0 z-50 w-full h-0.5 mb-2 origin-left bg-dark-pink"
    id="scroll-progress"
  >
  </div>
  <main>
    <section id="hero" class="mt-24 mb-8">
      <h1 class="mb-8 text-4xl font-semibold splt">{title}</h1>
      <ul class="flex flex-col gap-8 mb-20 md:flex-row sm:gap-16" id="stats">
        {
          [
            ["Инструменты", `${stack}`],
            ["Объем работы", `${amountOfWork}`],
            ["Сроки выполнения", `${duration}`],
            ["Дата публикации", `${formatDate(publishDate)}`],
          ].map(([heading, content]) => (
            <li class="">
              <h2 class="mb-1 text-lg font-bold">{heading}</h2>
              <p class="leading-normal max-w-64">{content}</p>
            </li>
          ))
        }
      </ul>
      <ul
        class="flex flex-wrap gap-3 p-0 m-0 mb-4 text-base lowercase list-none"
        id="tags"
      >
        {tags.map((tag) => <Tag content={tag} />)}
      </ul>
    </section>
    <section
      id="content"
      class="flex flex-col items-center mb-32 prose prose-pink md:max-w-none prose-img:rounded-md prose-img:first-of-type:mt-0 prose-headings:[width:min(100%,_42rem)]"
    >
      <slot />
    </section>
  </main>
</BaseLayout>

<script src="../scripts/animateProjectPage.js"></script>
